.imageClass{
  height: 200px;
  width: 200px;
}

.vertical-align{
  display: flex;
  align-items: center;
}
<<<<<<< HEAD
=======
.pointerCursor{
  cursor: pointer;
}
>>>>>>> c8dcffd66ece7168d4bd22500fa85f63747c699d
